# Node modules directory
node_modules/

# Environment variables file
# .env

# Logs
logs/
*.log
npm-debug.log*

# System files
.DS_Store

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Optional coverage directory
coverage/
